.all-inputs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1d253b7a;
    width: 50%;
    padding: 1rem;
    margin-bottom: 1rem;

}
button{
    margin: 1rem;
    padding: 1rem;
    font-size: larger;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.all-inputs :hover{
    background-color: #8ea0d8;
}
@media screen and (max-width: 1065px){
    .all-inputs{
        width: 100%;
        margin-bottom: 1rem;
    
    }
    button{
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: small;
        width: auto;
    }

}