@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Karla:wght@300&family=PT+Serif&family=Rubik:wght@300&family=Titillium+Web:wght@200&display=swap');
body{
  margin: 0;
  background-color: #4f6085;
  font-family: 'Ubuntu', sans-serif;
}
.heading{
  margin: 1rem 0rem;
  text-align: center;
  width: 100%;
  background-color: #8ea0d8;
  padding: 1rem;
}
.main-cards{
  display: flex;
  flex-direction: column;
  margin:  auto 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content:space-between;
}
@media screen and (max-width: 1065px){
  .main-cards{
    display: flex;
    flex-direction: column;
    margin:  0rem;
    flex-wrap: wrap;
    justify-content:center;
  }
}
@media screen and (max-width: 295px){
  .main-cards{
    display: flex;
    flex-direction: column;
    margin:  0rem;
    flex-wrap: wrap;
    justify-content:center;
  }
}
